# Cayenne Cloud API Creds (Never share your app secret!)
APP_KEY=b6703746-b107-4ab3-8f1e-1e65f86610d7
APP_SECRET=1aa661a0-e4dd-410d-a164-b5d59c6b557f

# Authentication Host
AUTH_HOST=https://auth.mydevices.com/
API_HOST=https://platform.mydevices.com/v1.1/

# Application redirect URI (Sample app uses this as its deep linking URL)
IMPLICIT_REDIRECT_URI=sample://implicit
EXPLICIT_REDIRECT_URI=sample://explicit
